# Project exclude paths
/lgh-basic-parent/lgh-basic-generator/target/
/lgh-basic-parent/lgh-basic-util/target/
/lgh-supports-parent/lgh-eureka-server/target/
/lgh-supports-parent/lgh-zuul-gateway/target/
/lgh-system-parent/lgh-system-interface/target/
/lgh-system-parent/lgh-system-service/target/
.idea